<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>Send Wishes</title>
</head>
<body>
    {% for m in messages %}
        {% if forloop.first %}
            <article>{{m}}</article> 
        {% endif %}
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <header><p>New Email</p></header>
        <!-- <label for="to">To:</label> -->
        <input type="email" id="to" name="to" placeholder="To" required>
        <!-- <label for="subject">Subject:</label> -->
        <input type="text" name="subject" placeholder="Subject">
        <!-- <label for="body">Body:</label> -->
        <textarea name="body" id="body"></textarea>
        <footer>
            <button class="custom-file-upload">
                <input type="file" name="file">
                Attach File
            </button>
            <button type="submit">Send</button>
        </footer>
    </form>
</body>
</html>