<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% for m in messages %} {{m}} {% endfor %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="to">To:</label>
        <input type="text" name="to" placeholder="Emails (separate with comma)">
        <label for="bcc">Bcc:</label>
        <input type="text" name="bcc" placeholder="Emails (separate with comma)">
        <label for="subject">Subject:</label>
        <input type="text" name="subject">
        <label for="body">Body:</label>
        <input type="text" name="body">
        <input type="file" name="file">
        <button type="submit">Send the Mail!</button>
    </form>
</body>
</html>