<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email">
        <label for="subject">Subject:</label>
        <input type="text" name="subject">
        <label for="body">Body:</label>
        <input type="text" name="body">
        <button type="submit">Send the Mail!</button>
    </form>
</body>
</html>